:root {
    --primary-color: #74c69d;
    --secondary-color: #fff;
    --primary-color-100: var(--primary-color);
    --primary-color-75: #74c69dc0;
    --secondary-color-100: var(--secondary-color);
    --secondary-color-75: #ffffffc0;

    font-family: "Work Sans", Arial, sans-serif;
    font-size: 16px;
    line-height: 125%;
}

body {
    margin: 0;
}

h1 {
    font-family: "Crimson Text";
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 125%;
    margin: 16px 0;
}

.label {
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: var(--primary-color);
}

.sub-heading {
    font-size: 1.25rem;
    line-height: 125%;
}

.header-section {
    padding: 35px 100px 38px;
    background-color: #74c69d;
    color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.logo {
    font-size: 40px;
}

.nav-container {
    width: 390px;
}

.nav-container ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.nav-container a {
    text-decoration: none;
    color: inherit;
}

.content-header-section {
    display: flex;
    justify-content: center;
}

.content-header-container {
    text-align: center;
    width: 410px;
}
img {
    display: block;
    width: 100%;
    height: 100%;
}
* {
    box-sizing: border-box;
}

.portfolio-section {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 55px;
    padding: 2.5rem;
}
